body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
}

input:focus {
  border: 1px solid blue;
}

/* 헤더 */
.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(255, 255, 164);
}

.board-title {
  cursor: pointer;
  user-select: none;
}

/* 게시판 */

.mother-board {
  width: 100%;
  height: 80vh;
  background-color: none;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.board-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0 20px;
}


.board-container {
  background: none;
  display: flex;
  flex-direction: column;
}

.login-header-button {
  width: 80px;
  height: 40px;
  background-color: orange;
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

.write-button {
  background-color: orange;
  border-radius: 5px;
  border: transparent;
  padding: 10px;
  position: absolute;
  right: 50px;
  bottom: 0px;
  cursor: pointer;
}


.search-form {
  display: flex;
  justify-content: flex-end;
  
}

.search-box {
  border: 1px solid gray;
}

.search-box:focus {
  border: 2px solid black;

}

.search-btn {
   background-color: orange;
   padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.post-form {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-detail {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post {
  border-bottom: black;
  margin-top: 30px;
}

.post-tr {
  height: 55px;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.create-time-form {
  display: flex;
  justify-content: right;
  font-weight: bold;
  font-size: 15px;
  color: gray;
}



/* 글작성 */

.write-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-submit-form {
  width: 500px;
}

.title-input {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}


.title-input:focus {
  border: 2px solid black;
}

.content-input {
  width: 100%;
  height: 200px;
  border-color: gray;
  border-radius: 5px;
}

.file-input {
  width: 100%;
}

.file-write-btn {
  display:flex;

  justify-content: space-between;
}

.author-form {
  display: flex;
  justify-content: right;
  width: 800px;
}

.content-margin {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 30px;
}

.title-label {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.content-label {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.write-submit-btn {
  border: transparent;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.content-margin-form {
  margin-bottom: 200px;
}

.file-form {
  color: black;
  font-weight: bold;
  border: transparent;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}

.detail-form {
  border-top: 1px solid rgb(219, 219, 219) ;
  margin-top: 30px;
}

/* 수정 & 삭제 */

.edit-del-form {
  display: flex;
  justify-content: right;
  width: 800px;
  cursor: pointer;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  border: transparent;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.comment-edit-btn,
.comment-del-btn {
  border: transparent;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer
}

.edit-file{
  margin-left: 10px;
}


/* 댓글 */

.comment-form {
  display: flex;
  align-items: center;
  gap: 20px;

}

.comment-input {
  height: 50px;
  width: 720px;
  padding: 10px;
  box-sizing: border-box;
}

.comment-write-btn {
  border: transparent;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;

}

.comment-edit-form {
  display: flex;
  height: 60px;
  width: 100%;
  margin-top: 10px;
}

.comment-list-form {
  margin-top: 30px;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.comment-list-form:last-child {
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  list-style: none;
}

textarea {
  resize: none;
}


/* 로그인 */

.login-wrap{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.login-wrap label {
  margin-bottom: 5px;
  cursor: pointer;
}

.login-wrap input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.login-button {
  background: orange;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border: none;
  color: black;
  font-weight: bold;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-button {
  outline: none;
  border: none;
  background: orange;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover,
.login-button:hover,
.login-header-button:hover,
.search-btn:hover,
.comment-edit-btn:hover,
.comment-del-btn:hover,
.comment-write-btn:hover,
.write-button:hover,
.write-submit-btn:hover,
.register-btn:hover,
.register-button:hover {
  background: #ffd483;
}

.social-Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.kakao-login {
  background-color: #FFE90A;
}

.google.login {
  background-color: white;
}

.git-login {
  background-color: black;
}

.login-modal {
  background: rgb(255, 255, 255);
  padding: 0px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0, 2);
  width: 360px;
  max-width: 100%;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-text {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.login-container {
    margin: 100px auto;
    width: 350px;
    text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


/* 회원가입 */

.register-form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.register-container {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.register-btn {
  margin-top: 50px;
  height: 50px;
  background-color: orange;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.register-label-style {
  margin-top: 30px;
  margin-bottom: 10px;
}

.register-input {
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  padding: 0px 10px;
}

.register-input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
